@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html {
    height: 100%;
}
body {
    font-family: 'Noto Sans' !important;
    text-align: center;
}
footer {
    position: fixed !important;
    bottom: 0;
    text-align: center;
}
.fill {
    height: 100%;
}
.menu {
    text-align: center;
}
.game {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.board picture:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.board picture {
    display: inline-block;
    vertical-align: middle;
}
.notify {
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
.player {
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    padding-top: 16px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 50%;
    cursor: default;
}
.europium-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 50%;
    padding: 15px;
    background-color: white;
    border: solid 1px black;
    border-bottom: solid 2px black;
    text-align: center;
    font-size: large;
    opacity: 1;
    transform: translate(-50%,-50%);
    will-change: transform, opacity;
}
.europium-modal-enter {
    transform: translate(-50%,300%);
}
.europium-modal-enter-active {
    transform: translate(-50%,-50%);
    transition: all 0.5s;
}
.europium-modal-leave.europium-modal-leave-active {
	opacity: 0;
    transition: all 0.5s;
}
#your-turn {
	font-size: xx-large;
	color: #337ab7;
}
#please-pick {
	color: grey;
}
.europium-modal a {
  display: block;
  margin: 5px;
  cursor: pointer;
}
